body{
    background: #000000;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #0f9b0f, #000000);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #0f9b0f, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 4em;
    color: lawngreen;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

#title-el{
    color: rgb(204, 250, 2);
}

#button-el{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: linear-gradient(green,rgb(255, 230, 0));
    border: none;
}



